<div class="categorie-container" ng-init="ctrl.justUpdate()">
  <span class="categorie-span1">
    <img draggable="false" src="../../../assets/img/Home/TRetangulo.png"/>
  </span>
  <div ng-click="ctrl.changeCategorieLocal(1)">
    <img src="../../../assets/img/Home/Charac.jpg"/>
    <span class="categorie-span" ng-style="ctrl.categorieValue == 'characters' && {'background-color': 'rgb(150, 15, 15, 1.0)'}">
      <h1>Personagens</h1>
    </span>
  </div>
  <div ng-click="ctrl.changeCategorieLocal(2)">
    <img src="../../../assets/img/Home/Stories.jpg"/>
    <span class="categorie-span" ng-style="ctrl.categorieValue == 'events' && {'background-color': 'rgb(150, 15, 15, 1.0)'}">
      <h1>Eventos</h1>
    </span>
  </div>
  <div ng-click="ctrl.changeCategorieLocal(3)">
    <img src="../../../assets/img/Home/Series.jpg"/>
    <span class="categorie-span" ng-style="ctrl.categorieValue == 'series' && {'background-color': 'rgb(150, 15, 15, 1.0)'}">
      <h1>Séries</h1>
    </span>
  </div>
  <div ng-click="ctrl.changeCategorieLocal(4)">
    <img src="../../../assets/img/Home/Comic.jpg"/>
    <span class="categorie-span" ng-style="ctrl.categorieValue == 'comics' && {'background-color': 'rgb(150, 15, 15, 1.0)'}">
      <h1>Quadrinhos</h1>
    </span>
  </div>
  <span class="categorie-span2">
    <img draggable="false" src="../../../assets/img/Home/TRetangulo.png"/>
  </span>
</div>