.detailsMidContainer{
    display: flex;

    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #202020;

    width: 100%;
    height: 70px;
}

.detailsMidCategorie{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    height: 100%;
    background-color: #202020;
    border-top: 5px solid transparent;
    color: #767676;
    cursor: pointer;
}

.detailsMidCategorie:hover{
    color: #ffffff;
}

.detailsMidCategorie span{
    font-size: 22px;
    font-family: var(--font-marvel);
}

/* Responsável pelo layout responsivo para Mobile */
@media (max-width: 767px) {
    
    .detailsMidCategorie{
        width: 22%;
    }
    
    .detailsMidCategorie span{
        font-size: 20px;
    }

}

@media (max-width: 450px) {
    
    .detailsMidCategorie{
        width: 25%;
    }
    
    .detailsMidCategorie span{
        font-size: 17px;
    }

}