<!-- Classe para alinhar o card no Centro -->
<div class="cardCharacterContainerBoot">
    <!-- Classe container do Card -->
    <div class="cardCharacterContainer" ng-click="ctrl.seeDetails()">
        <!-- Classe do card para a Imagem na parte superior-->
        <div class="cardCharacterImg">
            <img ng-src="{{ctrl.character.thumbnail.path + '/standard_fantastic.jpg'}}"
            onerror="this.src='https://preview.redd.it/7z6qt753qe031.jpg?auto=webp&s=4a50e99f18ee877a87933e89d224eca29a9c3a21'">
        </div>

        <!-- Classe do card responsável pela parte inferior -->
        <div class="cardCharacterBody">
            <p>{{ctrl.character.name}}</p>
            <p1>{{ctrl.character.description}}</p1>
        </div>

    </div><!-- End: cardCharacterContainer -->
</div><!-- End: cardCharacterContainerBoot -->