<!-- Observação: O Conteúdo do HTML ficou grande pelo fato da utilização de 4 categorias diferentes,
para diminuir consumo do sistema, achei mais interessante deixar tudo no details mesmo no lugar a criação de 
components para ele.

Então existe elementos responsáveis por cada categoria na pagina de detalhes, com informações diferentes para cada,
cabe ao sistema identificar a categoria em uso e mostrar as informações definidas.-->
<section ng-controller="DetailsController as ctrl">
    
    <!-- Classe Container do Details -->
    <div class="detailsContainer">
        <!-- Loading da Página toda, quando o component estiver sendo montado -->
        <span ng-if="ctrl.isLoadingPage==true">
            <loading></loading>
        </span>

        <!-- A Página aparece quando for finalizado tudo -->
        <span ng-if="ctrl.isLoadingPage==false">

            <!-- Responsável pelo topo da página, mostra as informações essenciais do resultado -->
            <div class="detailsTopContainer">
                <figure class="detailsTopLeft">
                    <img ng-src="{{ctrl.data.thumbnail.path + '/portrait_uncanny.jpg'}}">
                </figure>
                <div class="detailsTopRight" ng-if="ctrl.categorieLocal == 'characters'">
                    <h1>{{ctrl.data.name | upper}}</h1>
                    <p>{{ctrl.data.description}}</p>
                </div>
                <div class="detailsTopRight" ng-if="ctrl.categorieLocal == 'events' || ctrl.categorieLocal=='series' || ctrl.categorieLocal=='comics'">
                    <h1>{{ctrl.data.title}}</h1>
                    <p>{{ctrl.data.description}}</p>
                </div>
            </div>

            <!-- Responsável pelas informações da categoria "Characters" -->
            <span ng-if="ctrl.categorieLocal=='characters'" ng-init="ctrl.changeViewCategorie('events', true)">
                
                <!-- Classe Container para outras informações do resultado da categoria -->
                <ul class="detailsMidContainer">
                    <li class="detailsMidCategorie" style="border-left: 1px solid white;border-right: 1px solid white;" 
                    ng-style="ctrl.categorieView == 'events' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('events', true)">
                        <span>Events</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'series' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('series', true)">
                        <span>Series</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'comics' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('comics', true)">
                        <span>Comics</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'stories' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('stories', true)">
                        <span>Stories</span>
                    </li>
                </ul>

                <!-- Loading para a espera na busca dos resultados das outras informações da categoria -->
                <span ng-if="ctrl.isLoadingCategorie==true">
                    <loading></loading>
                </span>
                
                <!-- Classe container para os Cards, se caso cada Card não possuir resultado, informará: No results found -->
                <div class="row CardsContainer" ng-if="ctrl.isLoadingCategorie==false">
        
                    <span ng-if="ctrl.categorieView == 'events'">
                        <div class="col-sx-12 col-sm-5 col-md-3"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'events'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.events.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
                    
                    <span ng-if="ctrl.categorieView == 'series'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.series.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'series'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.series.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
        
                    <span ng-if="ctrl.categorieView == 'comics'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.comics.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'comics'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.comics.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
        
                    <span ng-if="ctrl.categorieView == 'stories'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.stories.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'stories'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.stories.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
            
                </div><!-- End: CardsContainer -->

            </span><!-- End: categoria "Characters" -->

            <!-- Responsável pelas informações da categoria "Events" -->
            <span ng-if="ctrl.categorieLocal=='events'" ng-init="ctrl.changeViewCategorie('characters', true)">
                
                <!-- Classe Container para outras informações do resultado da categoria -->
                <ul class="detailsMidContainer">
                    <li class="detailsMidCategorie" style="border-left: 1px solid white;border-right: 1px solid white;" 
                    ng-style="ctrl.categorieView == 'characters' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('characters', true)">
                        <span>Characters</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'series' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('series', true)">
                        <span>Series</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'comics' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('comics', true)">
                        <span>Comics</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'stories' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('stories', true)">
                        <span>Stories</span>
                    </li>
                </ul>

                <!-- Loading para a espera na busca dos resultados das outras informações da categoria -->
                <span ng-if="ctrl.isLoadingCategorie==true">
                    <loading></loading>
                </span>
                
                <!-- Classe container para os Cards, se caso cada Card não possuir resultado, informará: No results found -->
                <div class="row CardsContainer" ng-if="ctrl.isLoadingCategorie==false">
        
                    <span ng-if="ctrl.categorieView == 'characters'">
                        <div class="col-sx-12 col-sm-5 col-md-3"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-character character="categorie"></card-character>
                        </div>
                        <span ng-if="ctrl.data.characters.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
                    
                    <span ng-if="ctrl.categorieView == 'series'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.series.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'series'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.series.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
        
                    <span ng-if="ctrl.categorieView == 'comics'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.comics.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'comics'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.comics.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
        
                    <span ng-if="ctrl.categorieView == 'stories'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.stories.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'stories'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.stories.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
            
                </div><!-- End: CardsContainer -->

            </span><!-- End: categoria "Events" -->
            
            <!-- Responsável pelas informações da categoria "Series" -->
            <span ng-if="ctrl.categorieLocal=='series'" ng-init="ctrl.changeViewCategorie('characters', true)">
                
                <!-- Classe Container para outras informações do resultado da categoria -->
                <ul class="detailsMidContainer">
                    <li class="detailsMidCategorie" style="border-left: 1px solid white;border-right: 1px solid white;" 
                    ng-style="ctrl.categorieView == 'characters' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('characters', true)">
                        <span>Characters</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'events' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('events', true)">
                        <span>Events</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'comics' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('comics', true)">
                        <span>Comics</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'stories' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('stories', true)">
                        <span>Stories</span>
                    </li>
                </ul>

                <!-- Loading para a espera na busca dos resultados das outras informações da categoria -->
                <span ng-if="ctrl.isLoadingCategorie==true">
                    <loading></loading>
                </span>
                
                <!-- Classe container para os Cards, se caso cada Card não possuir resultado, informará: No results found -->
                <div class="row CardsContainer" ng-if="ctrl.isLoadingCategorie==false">
        
                    <span ng-if="ctrl.categorieView == 'characters'">
                        <div class="col-sx-12 col-sm-5 col-md-3"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-character character="categorie"></card-character>
                        </div>
                        <span ng-if="ctrl.data.characters.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
                    
                    <span ng-if="ctrl.categorieView == 'events'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.events.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'events'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.events.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
        
                    <span ng-if="ctrl.categorieView == 'comics'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.comics.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'comics'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.comics.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
        
                    <span ng-if="ctrl.categorieView == 'stories'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.stories.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'stories'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.stories.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
            
                </div><!-- End: CardsContainer -->

            </span><!-- End: categoria "Series" -->

            <!-- Responsável pelas informações da categoria "Comics" -->
            <span ng-if="ctrl.categorieLocal=='comics'" ng-init="ctrl.changeViewCategorie('characters', true)">
                
                <!-- Classe Container para outras informações do resultado da categoria -->
                <ul class="detailsMidContainer">
                    <li class="detailsMidCategorie" style="border-left: 1px solid white;border-right: 1px solid white;" 
                    ng-style="ctrl.categorieView == 'characters' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('characters', true)">
                        <span>Characters</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'events' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('events', true)">
                        <span>Events</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'creators' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('creators', true)">
                        <span>Creators</span>
                    </li>
                    <li class="detailsMidCategorie" style="border-right: 1px solid white;"
                    ng-style="ctrl.categorieView == 'stories' && {'border-top': '5px solid red', 'color': 'white'}"
                    ng-click="ctrl.changeViewCategorie('stories', true)">
                        <span>Stories</span>
                    </li>
                </ul>

                <!-- Loading para a espera na busca dos resultados das outras informações da categoria -->
                <span ng-if="ctrl.isLoadingCategorie==true">
                    <loading></loading>
                </span>
                
                <!-- Classe container para os Cards, se caso cada Card não possuir resultado, informará: No results found -->
                <div class="row CardsContainer" ng-if="ctrl.isLoadingCategorie==false">
        
                    <span ng-if="ctrl.categorieView == 'characters'">
                        <div class="col-sx-12 col-sm-5 col-md-3"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-character character="categorie"></card-character>
                        </div>
                        <span ng-if="ctrl.data.characters.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
                    
                    <span ng-if="ctrl.categorieView == 'events'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.events.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'events'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.events.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
        
                    <span ng-if="ctrl.categorieView == 'creators'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.creators.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'creators'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.creators.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
        
                    <span ng-if="ctrl.categorieView == 'stories'">
                        <div class="col-sx-12 col-sm-5 col-md-3" ng-if="ctrl.data.stories.available > 0"
                        ng-repeat="categorie in ctrl.categorieData">
                            <card-others character="categorie" categorie-local="'stories'"></card-others>
                        </div>
                        <span ng-if="ctrl.data.stories.available == 0"
                        style="display: flex;align-items: center;justify-content: center;width: 100%;height: 70px;">
                            No results found
                        </span>
                    </span>
            
                </div><!-- End: CardsContainer -->

            </span><!-- End: categoria "Comics" -->

            <!-- Botão para "Ver Mais" dos resultados encontrados, se houver mais resultados -->
            <span ng-if="ctrl.isLoadingCategorie==false">
                <div class="col-md-12" 
                style="display: flex;align-items: center;justify-content: center;width: 100%;height: 80px;"
                ng-if="ctrl.categorieData.length < ctrl.totalItems">
                  <button class="btn btn-primary"
                    ng-click="ctrl.seeMore()">
                    Ver mais
                  </button>
                </div>
            </span>

        </span><!-- End: "A Página aparece quando for finalizado tudo" -->

    </div><!-- End: detailsContainer -->

</section>
