<!-- Observação: O Conteúdo do HTML ficou grande pelo fato da utilização de 4 categorias diferentes,
então para a maior organização do código nessa página. Separei o conteúdo do Meio para um component nomeado
de "detailsOptions", assim melhorando a organização nesse arquivo.

Então existe elementos responsáveis por cada categoria na pagina de detalhes, com informações diferentes para cada,
cabe ao sistema identificar a categoria em uso e mostrar as informações definidas.-->
<section ng-controller="DetailsController as ctrl">
    
    <!-- Classe Container do Details -->
    <div class="detailsContainer">
        <!-- Loading da Página toda, quando o component estiver sendo montado -->
        <span ng-if="ctrl.isLoadingPage==true">
            <loading></loading>
        </span>

        <!-- A Página aparece quando for finalizado tudo -->
        <span ng-if="ctrl.isLoadingPage==false">

            <!-- Responsável pelo topo da página, mostra as informações essenciais do resultado -->
            <div class="detailsTopContainer">
                <figure class="detailsTopLeft">
                    <img ng-src="{{ctrl.data.thumbnail.path + '/portrait_uncanny.jpg'}}">
                </figure>
                <div class="detailsTopRight" ng-if="ctrl.categorieLocal == 'characters'">
                    <h1>{{ctrl.data.name | upper}}</h1>
                    <p>{{ctrl.data.description}}</p>
                </div>
                <div class="detailsTopRight" ng-if="ctrl.categorieLocal == 'events' || ctrl.categorieLocal=='series' || ctrl.categorieLocal=='comics'">
                    <h1>{{ctrl.data.title}}</h1>
                    <p>{{ctrl.data.description}}</p>
                </div>
            </div>

            <!-- Responsável pelas opções de Busca de cada categoria -->
            <details-options change-view-categorie="ctrl.changeViewCategorie(value, reset)" 
            categorie-local="ctrl.categorieLocal" categorie-view="ctrl.categorieView"
            is-loading-categorie="ctrl.isLoadingCategorie" categorie-data="ctrl.categorieData"
            data="ctrl.data"></details-options>

            <!-- Botão para "Ver Mais" dos resultados encontrados, se houver mais resultados -->
            <span ng-if="ctrl.isLoadingCategorie==false">
                <div class="col-md-12" 
                style="display: flex;align-items: center;justify-content: center;width: 100%;height: 80px;"
                ng-if="ctrl.categorieData.length < ctrl.totalItems">
                  <button class="btn btn-primary"
                    ng-click="ctrl.seeMore()">
                    Ver mais
                  </button>
                </div>
            </span>

        </span><!-- End: "A Página aparece quando for finalizado tudo" -->

    </div><!-- End: detailsContainer -->

</section>
