body {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.characters-container {
  display: flex;
  width: 100%;
  min-height: 80vh;

  flex-direction: column;
}

.searchContainer{
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputGroup{
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.searchInput{
  width: 60%;
  outline: none;
}

.CardsContainer{
  margin-top: 0px;
  margin: 20px;
}


/* -------------------------------------------- */

.character-image {
  border-radius: 10px;
  box-shadow: 0px 0px 11px 3px black;
}

.search-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.titulo {
  font-size: 32px;
  font-weight: bold;
}

.limit-item {
  padding: 5px;
}
