body {
  padding: 0px;
  margin: 0px;
  background-color: white;
}

.characters-container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 140px);
  margin-top: 80px;

  flex-direction: column;
}

.searchContainer{
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inputGroup{
  display: flex;

  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  border-bottom: 2px solid black;
}

.searchInput{
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
}

.searchButton{
  width: 5%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 24px;
}

.CardsContainer{
  position: relative;
  margin-top: 0px;
  margin: 20px;
}

@media (max-width: 1000px) {
  
  .inputGroup{
    width: 60%;
  }

}

/* Responsável pelo layout responsivo para Mobile */
@media (max-width: 767px) {

  .inputGroup{
    width: 70%;
  }

  .categorieContainerHome{
    display: none;
  }

}

@media (max-width: 600px) {

  .inputGroup{
    width: 80%;
  }

  .searchInput{
    width: 87%;
  }
  
  .searchButton{
    width: 7%;
  }

}

@media (max-width: 420px) {

  .inputGroup{
    width: 90%;
  }

  .searchInput{
    width: 86%;
  }
  
  .searchButton{
    width: 8%;
  }

}