.headerContainer{
    display: flex;

    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
    height: 12vh;
    
    background-color: #f0141e;
}

.headerImgLogo{
    width: 130px;
    height: auto;
}